[build]
  command = "npm run build"
  publish = "dist"

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/privacy-policy"
  to = "/privacy-policy/"
  status = 301

[[redirects]]
  from = "/privacy-policy/"
  to = "/privacy-policy/index.html"
  status = 200

[[redirects]]
  from = "/privacy-policy.html"
  to = "/privacy-policy/"
  status = 301
